@-webkit-keyframes psdFadeAfterLoad {
    0% {opacity: 0;}
    100% {
		opacity: 1;
	}
} 

@-moz-keyframes psdFadeAfterLoad {
    0% {opacity: 0;}
    100% {
		opacity: 1;
	}
} 

@-moz-keyframes psdScaleAndFadeAfterLoad {
    0% {
		opacity: 0;
		-webkit-transform: scale(2.2);
		-moz-transform: scale(2.2);
	}
    100% {
		opacity: 1;
		-webkit-transform: scale(2.5);
		-moz-transform: scale(2.5);
	}
} 

@-webkit-keyframes psdScaleAndFadeAfterLoad {
    0% {
		opacity: 0;
		-webkit-transform: scale(2.2);
		-moz-transform: scale(2.2);
	}
    100% {
		opacity: 1;
		-webkit-transform: scale(2.5);
		-moz-transform: scale(2.5);
	}
} 

@-moz-keyframes psdMoveAndFadeAfterLoad {
    0% {
		opacity: 0;
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
	}
    100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(30px);
	}
} 

@-webkit-keyframes psdMoveAndFadeAfterLoad {
    0% {
		opacity: 0;
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
	}
    100% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
	}
} 

.psd-animate {
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	        transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
	
	-webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
	        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */
}

.psd-load-fade-1 {
	opacity: 0;
	-moz-animation: psdFadeAfterLoad 500ms 1;
	-moz-animation-delay: 250ms;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: psdFadeAfterLoad 500ms 1;
	-webkit-animation-delay: 250ms;
	-webkit-animation-fill-mode: forwards;
}

.psd-load-fade-2 {
	opacity: 0;
	-moz-animation: psdFadeAfterLoad 500ms 1;
	-moz-animation-delay: 500ms;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: psdFadeAfterLoad 500ms 1;
	-webkit-animation-delay: 500ms;
	-webkit-animation-fill-mode: forwards;
}

.psd-load-fade-3 {
	transform: translateY(30px);
	opacity: 0;
	-moz-animation: psdMoveAndFadeAfterLoad 500ms 1;
	-moz-animation-delay: 750ms;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: psdMoveAndFadeAfterLoad 500ms 1;
	-webkit-animation-delay: 750ms;
	-webkit-animation-fill-mode: forwards;
}

.psd-title {
	width: 100% !important;
	height: 50px;
	text-align: center;
	display: table;
	background-color: #2E2E2E;
	border-top: 10px solid #006BAA;
}

.psd-login {
	width: 75%;
	margin-right: auto;
	margin-left: auto;	
	min-width: 300px;
}

.psd-title {
	width: 100% !important;
	height: 50px;
	text-align: center;
	display: table;
	background-color: #2E2E2E;
	border-top: 10px solid #006BAA;
}

.psd-title-text {
	display: inline-table;
	font-size: 48px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
}

.psd-logo {
	margin: 65px;
	transform: scale(2.5, 2.5);
	-webkit-transform: scale(2.5, 2.5);
}



.psd-forgot-logo {
	max-height: 48px;
	float: left;
}

.psd-login-title {
	text-align: center;
	border-bottom: 5px solid #4BA2D9;
	background-color: #2E2E2E;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.psd-login-title-text {
	font-size: 42px;
	font-weight: 100;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	margin-bottom: -1%;
}


.psd-login-form-text {
	font-size: 22px;
	font-weight: 200;
}



.psd-login-form {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	background-color: rgba(75, 162, 217, 0.1);
	padding-bottom: 2.5%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}







	

.psd-login-form-input {
	display: block !important;
	margin-right: auto;
	margin-left: auto;
	border: 0 !important;
	border-radius: 30px !important;
	text-align: center;
	font-size: 24px !important;
	font-weight: 400;
	width: 90% !important;
	margin-top: 2%;
	font-family: "Source Sans Pro", sans-serif;
	z-index: 1;
}

.psd-login-form-inputs {
	margin-bottom: 2%;
}

.psd-login-form-button {
	font-family: Bebas;
	font-size: 24px;
	background-color: #3898D4;
	color: white;
	letter-spacing: 2px;
	width: 25%;
	left: 75%;
	right: 0;
	margin-top: 2.5%;
	cursor: pointer;
	position: relative;
}

.psd-login-forgot {
	font-size: 48px !important;
	margin-top: -46px;
	float: left;
	cursor: pointer;
	z-index: 2;
	margin-left: 5.5%;
	color: #333;
}

.psd-login-forgot:hover {
    transform: scale(1.2);
    color: rgba(75, 162, 217, 1);
}

.psd-login-submit {
	font-size: 48px !important;
	margin-top: -46px;
	float: right;
	cursor: pointer;
	z-index: 2;
	margin-right: 5.5%;
}

.psd-login-submit:hover {
    transform: scale(1.2);
    color: rgba(75, 162, 217, 1);
}

.tooltip-inner {
	border-radius: 20px;
}

.psd-info {
	width: 80%;
	margin-right: auto !important;
	margin-left: auto !important;
	height: 25%;
	top: 12.5%;
	position: relative;
	text-align: center;
}

.psd-section-district {
	padding: 0 !important;
	height: 100%;
	background-color: rgba(74, 186, 110, 0.1);
}

.psd-section-supt {
	padding: 0 !important;
	height: 100%;
	background-color: rgba(240, 197, 21, 0.1);
}

.psd-section-tech {
	padding: 0 !important;
	height: 100%;
	background-color: rgba(232, 76, 61, 0.1);
}

.psd-section-title-district {
	padding-left: 1%;
	font-size: 24px;
	font-weight: 300;
	color: white;
	width: 100% !important;
	border-bottom: 5px solid #4AB96E;
	border-left: 1px solid #4AB96E;
	background-color: #2E2E2E;
	font-family: "Source Sans Pro", sans-serif;
}

.psd-section-title-supt {
	padding-left: 1%;
	font-size: 24px;
	font-weight: 300;
	color: white;
	width: 100% !important;
	border-bottom: 5px solid #F0C515;
	border-left: 1px solid #F0C515;
	background-color: #2E2E2E;
	font-family: "Source Sans Pro", sans-serif;
}

.psd-section-title-tech {
	padding-left: 1%;
	font-size: 24px;
	font-weight: 300;
	color: white;
	width: 100% !important;
	border-bottom: 5px solid #E84C3D;
	border-left: 1px solid #E84C3D;
	background-color: #2E2E2E;
	font-family: "Source Sans Pro", sans-serif;
}


@font-face {
	font-family: "Bebas";
	src: url('./BebasNeue.otf');
}

@font-face {
	font-family: "Ikaros";
	src: url('./Ikaros.otf');
}

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
}




.psd-login-form-input-password {
	display: block !important;
	margin-right: auto;
	margin-left: auto;
	border: 0 !important;
	border-radius: 30px !important;
	text-align: center;
	font-size: 24px !important;
	font-weight: 400;
	width: 90% !important;
	margin-top: 2%;
	font-family: "Source Sans Pro", sans-serif;
	z-index: 1;
	padding-left: 50px !important;
	padding-right: 50px !important;
}


.psd-load-fade-2 {
	min-height: 200px;
}




@media only screen and (max-device-width: 320px) {
	.psd-login-title-text {
		font-size: 32px;
		font-weight: 100;
		color: white;
		font-family: "Source Sans Pro", sans-serif;
		margin-right: 1%;
		margin-left: 1%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 540px) {
	
	.psd-load-fade-2 {
		min-height: 170px;
	}
	
	.psd-login {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 5%;
		
	}
	
	.psd-logo {
		margin: 2%;
		transform: scale(2.5, 2.5);
		-webkit-transform: scale(2.5, 2.5);
		margin-top:50px;
	}
	
	
	.psd-login-form {
		margin-right: 0 !important;
		padding-top: 2%;
		background-color: rgba(75, 162, 217, 0.1);
		padding-bottom: 2.5%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	.psd-login-form-input {
		display: block !important;
		margin-right: auto;
		margin-left: auto;
		border: 0 !important;
		border-radius: 30px !important;
		text-align: center;
		font-size: 24px !important;
		font-weight: 400;
		width: 90% !important;
		margin-top: 2%;
		font-family: "Source Sans Pro", sans-serif;
		z-index: 1;
	}
	
	.psd-login-form-input-password {
		display: block !important;
		margin-right: auto;
		margin-left: auto;
		border: 0 !important;
		border-radius: 30px !important;
		text-align: center;
		font-size: 24px !important;
		font-weight: 400;
		width: 90% !important;
		margin-top: 2%;
		font-family: "Source Sans Pro", sans-serif;
		z-index: 1;
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
	
	.psd-login-submit {
		font-size: 42px !important;
		margin-top: -44px;
		display: block;
		float: right;
		cursor: pointer;
		margin-right: 7.5%; 
		z-index: 2;
	}
	
	.psd-login-forgot {
		font-size: 42px !important;
		margin-top: -44px;
		display: block;
		float: left;
		cursor: pointer;
		margin-left: 7.5%; 
		z-index: 2;
	}
}

@media only screen and (orientation: landscape)  and (min-width: 320px) and (max-width: 540px) {
	.psd-logo {
		margin-bottom: 2.5%;
		-webkit-transform: scale(2, 2);
		display: none;
	}
	
	.psd-load-fade-2 {
		max-height: 10px;
		min-height: 0px !important;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.psd-logo {
		margin-top: 10%;
		margin-bottom: 10%;
		-webkit-transform: scale(2, 2);
	}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}