.psd-logo-padding {
	display: none;
}

.psd-logo-container {
	height: 120px;
	display: none;
}

.psd-logo {
	display: none;
}

.toprow {
	height: 60px !important;
}

.psd-load-fade-3 {
	opacity: 1;
}

.psd-load-fade-2 {
	opacity: 1;
}

.psd-load-fade-1 {
	opacity: 1;
}

.psd-load-fade-0 {
	opacity: 1;
}

.psd-animate {
	opacity: 1;
}
